<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link href="./favicon.ico" rel="icon" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" src="assets/img/favicon.ico" />
    <!-- {% block stylesheets %} -->
      <!-- <link href="{{ asset('./css/scss/index.css') }}" rel="stylesheet" /> -->
    <!-- {% endblock %} -->
  </head>
  <body>
    <header id="wpHeader"></header>
    <main class="main-warpper home-page">
      <section class="banner-section">
        <!-- <div class="container"> -->
        <h1>Created in design, <br>
          delivered in experience.</h1>
        <p>Mauris pulvinar est lectus, et feugiat augue ornare ut magna mauris, feugiat vitae ultrices
          quis, ullamcorper sed justo. Etiam placerat, massa vitae auctor sagittis sem odio efficitur nisl et porttitor sapien est sed augue.</p>
        <!-- </div> -->
      </section>
      <section class="feature-section">
        <a href="#!" class="link-title"><h2>Featured Campaign</h2> <img src="./img/arrow.png" alt=""></a>
        <div id="bannerCarousel" class="owl-carousel owl-theme articles-carousel">
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <!-- <img src="./img/banner1.jpg" alt="" class="tumb"> -->
                <video class="tumb video" controls poster="./img/banner1.jpg">
                  <source src="./video/mov_bbb.mp4">
                  Your browser does not support HTML video.
                </video>
                <article>
                  <div class="top-row">
                    <div class="dimond">
                      <img src="./img/king.png" alt="">
                      <p class="number">2</p>
                    </div>
                  </div>
                  <div class="middle-row">
                    <img src="./img/play.png" alt="" class="play-btn">
                  </div>
                  <div class="bottom-row">
                    <div class="di-flex video-info">
                      <aside class="media-logo">
                        <img src="./img/logo.jpg" alt="">
                      </aside>
                      <div class="item-content">
                        <h3 title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">#Happy Teacher’s Day</h3>
                        <p title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">Thank You 'Lady Gabbar' l Happy Teachers' Day | Lighthouse Learning</p>
                      </div>
                    </div>
                    <div class="text-right">
                      <button href="#!" class="type-of-content">Video</button>
                    </div>
                  </div>
                  
                </article>
              </div>
              
             
             
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <!-- <img src="./img/banner1.jpg" alt="" class="tumb"> -->
                <video class="tumb video" controls poster="./img/banner1.jpg">
                  <source src="./video/mov_bbb.mp4">
                  Your browser does not support HTML video.
                </video>
                <article>
                  <div class="top-row">
                    <div class="dimond">
                      <img src="./img/king.png" alt="">
                      <p class="number">2</p>
                    </div>
                  </div>
                  <div class="middle-row">
                    <img src="./img/play.png" alt="" class="play-btn">
                  </div>
                  <div class="bottom-row">
                    <div class="di-flex video-info">
                      <aside class="media-logo">
                        <img src="./img/logo.jpg" alt="">
                      </aside>
                      <div class="item-content">
                        <h3 title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">#Happy Teacher’s Day</h3>
                        <p title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">Thank You 'Lady Gabbar' l Happy Teachers' Day | Lighthouse Learning</p>
                      </div>
                    </div>
                    <div class="text-right">
                      <button href="#!" class="type-of-content">Video</button>
                    </div>
                  </div>
                  
                </article>
              </div>
              
             
             
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <!-- <img src="./img/banner1.jpg" alt="" class="tumb"> -->
                <video class="tumb video" controls poster="./img/banner1.jpg">
                  <source src="./video/mov_bbb.mp4">
                  Your browser does not support HTML video.
                </video>
                <article>
                  <div class="top-row">
                    <div class="dimond">
                      <img src="./img/king.png" alt="">
                      <p class="number">2</p>
                    </div>
                  </div>
                  <div class="middle-row">
                    <img src="./img/play.png" alt="" class="play-btn">
                  </div>
                  <div class="bottom-row">
                    <div class="di-flex video-info">
                      <aside class="media-logo">
                        <img src="./img/logo.jpg" alt="">
                      </aside>
                      <div class="item-content">
                        <h3 title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">#Happy Teacher’s Day</h3>
                        <p title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">Thank You 'Lady Gabbar' l Happy Teachers' Day | Lighthouse Learning</p>
                      </div>
                    </div>
                    <div class="text-right">
                      <button href="#!" class="type-of-content">Video</button>
                    </div>
                  </div>
                  
                </article>
              </div>
              
             
             
            </div>
          </div>
        </div>
      </section>
      <section class="films-section">
        <a href="#!" class="link-title"><h2>Films</h2> <img src="./img/arrow.png" alt=""></a>
        <div id="filmsCarousel" class="owl-carousel owl-theme films-carousel">
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/banner1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/king.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <div class="bottom-row">
                  <h4>#Find Your Story</h4>
                  <p class="sub-tille">Neque porro quisquam est qui dolorem
                    ipsum quia dolor sit amet adipisci...</p>
                  <div class="brand-name">sfdff fs df</div>
                </div>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/banner1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/king.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <div class="bottom-row">
                  <h4>#Find Your Story</h4>
                  <p class="sub-tille">Neque porro quisquam est qui dolorem
                    ipsum quia dolor sit amet adipisci...</p>
                  <div class="brand-name">sfdff fs df</div>
                </div>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/banner1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/king.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <div class="bottom-row">
                  <h4>#Find Your Story</h4>
                  <p class="sub-tille">Neque porro quisquam est qui dolorem
                    ipsum quia dolor sit amet adipisci...</p>
                  <div class="brand-name">sfdff fs df</div>
                </div>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/banner1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/king.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <div class="bottom-row">
                  <h4>#Find Your Story</h4>
                  <p class="sub-tille">Neque porro quisquam est qui dolorem
                    ipsum quia dolor sit amet adipisci...</p>
                  <div class="brand-name">sfdff fs df</div>
                </div>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/banner1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/king.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <div class="bottom-row">
                  <h4>#Find Your Story</h4>
                  <p class="sub-tille">Neque porro quisquam est qui dolorem
                    ipsum quia dolor sit amet adipisci...</p>
                  <div class="brand-name">sfdff fs df</div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="social-section">
        <a href="#!" class="link-title"><h2>Social Media Communication</h2> <img src="./img/arrow.png" alt=""></a>
        <div id="socialCarousel" class="owl-carousel owl-theme social-carousel">
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="social-section performance-creative">
        <a href="#!" class="link-title"><h2>Performance Creatives</h2> <img src="./img/arrow.png" alt=""></a>
        <div id="performanceCarousel" class="owl-carousel owl-theme social-carousel">
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/1x1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/play-btn-small.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <a href="#!" class="view-more">view more</a>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="ui-ux-section">
        <a href="#!" class="link-title"><h2>UI & UX</h2> <img src="./img/arrow.png" alt=""></a>
        <div id="uiUxCarousel" class="owl-carousel owl-theme ui-ux-carousel">
          <div class="item">
            <div class="art-card">
              <article class="info-web">
                <p class="inf-title">Everstone Capital</p>
                <div class="sub-title">Neque porro quisquam est qui dolorem
                  ipsum quia dolor sit amet...</div>
                <div class="di-flex sub-title link-box" >
                  <a href="#!" class="red-text">Case study</a>| 
                  <a href="#!">Visit Website</a>
                </div>
              </article>
              <div class="image-container">
                <img class="web-thumb" src="./img/everstone.jpg" alt="">
              </div>
              
            </div>
          </div>
          <div class="item">
            <div class="art-card " style="background-color: #835555;">
              <article class="info-web">
                <p class="inf-title">Cremica</p>
                <div class="sub-title">Neque porro quisquam est qui dolorem
                  ipsum quia dolor sit amet...</div>
                <div class="di-flex sub-title link-box" >
                  <a href="#!" class="red-text">Case study</a>| 
                  <a href="#!">Visit Website</a>
                </div>
              </article>
              <div class="image-container">
                <img class="web-thumb" src="./img/cannon.jpg" alt="">
              </div>
              
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <article class="info-web">
                <p class="inf-title">Cherry by kotak</p>
                <div class="sub-title">Neque porro quisquam est qui dolorem
                  ipsum quia dolor sit amet...</div>
                <div class="di-flex sub-title link-box" >
                  <a href="#!" class="red-text">Case study</a>| 
                  <a href="#!">Visit Website</a>
                </div>
              </article>
              <div class="image-container">
                <img class="web-thumb" src="./img/everstone.jpg" alt="">
              </div>
              
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <article class="info-web">
                <p class="inf-title">Everstone Capital</p>
                <div class="sub-title">Neque porro quisquam est qui dolorem
                  ipsum quia dolor sit amet...</div>
                <div class="di-flex sub-title link-box" >
                  <a href="#!" class="red-text">Case study</a>| 
                  <a href="#!">Visit Website</a>
                </div>
              </article>
              <div class="image-container">
                <img class="web-thumb" src="./img/everstone.jpg" alt="">
              </div>
              
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <article class="info-web">
                <p class="inf-title">Everstone Capital</p>
                <div class="sub-title">Neque porro quisquam est qui dolorem
                  ipsum quia dolor sit amet...</div>
                <div class="di-flex sub-title link-box" >
                  <a href="#!" class="red-text">Case study</a>| 
                  <a href="#!">Visit Website</a>
                </div>
              </article>
              <div class="image-container">
                <img class="web-thumb" src="./img/everstone.jpg" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <section class="case-studies-section">
        <a href="#!" class="link-title"><h2>Case Studies</h2> <img src="./img/arrow.png" alt=""></a>
        <div id="caseStudiesCarousel" class="owl-carousel owl-theme case-studies-carousel">
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/banner1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/king.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <div class="di-flex bottom-row video-info">
                  <aside class="media-logo">
                    <img src="./img/logo.jpg" alt="">
                  </aside>
                  <div class="item-content">
                    <h3 class="item-title" title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">#Happy Teacher’s Day</h3>
                    <p title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">Neque porro quisquam est qui dolorem ipsum quia dolor</p>
                    <a href="#!" class="case-s">Case study </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/banner1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/king.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <div class="di-flex bottom-row video-info">
                  <aside class="media-logo">
                    <img src="./img/logo.jpg" alt="">
                  </aside>
                  <div class="item-content">
                    <h3 class="item-title" title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">#Happy Teacher’s Day</h3>
                    <p title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">Neque porro quisquam est qui dolorem ipsum quia dolor</p>
                    <a href="#!" class="case-s">Case study </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/banner1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/king.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <div class="di-flex bottom-row video-info">
                  <aside class="media-logo">
                    <img src="./img/logo.jpg" alt="">
                  </aside>
                  <div class="item-content">
                    <h3 class="item-title" title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">#Happy Teacher’s Day</h3>
                    <p title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">Neque porro quisquam est qui dolorem ipsum quia dolor</p>
                    <a href="#!" class="case-s">Case study </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="item">
            <div class="art-card">
              <div class="image-container">
                <img src="./img/banner1.jpg" alt="" class="tumb">
                <div class="top-row">
                  <div class="dimond">
                    <img src="./img/king.png" alt="">
                  </div>
                </div>
              </div>
              <article>
                <div class="di-flex bottom-row video-info">
                  <aside class="media-logo">
                    <img src="./img/logo.jpg" alt="">
                  </aside>
                  <div class="item-content">
                    <h3 class="item-title" title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">#Happy Teacher’s Day</h3>
                    <p title="Half Knowledge is Dangerous Regurgitating talking points is even worse Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quis nam non ad eum saepe natus, fugit ipsum perferendis voluptatem, dolores amet, maiores officia obcaecati facere dolore sed molestias animi.">Neque porro quisquam est qui dolorem ipsum quia dolor</p>
                    <a href="#!" class="case-s">Case study </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </main>
  <footer></footer>
  <script>
   
  </script>
  </body>
</html>